html {
    font-family: 'Roboto', sans-serif;
}

/* General content */
.header, .footer {
    background-color: #1F2937;
}

a, .sub-text, button {
    font-size: 18px;
}

/* Header content */
.header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px 200px 150px;
}

a, .sub-text, .footer {
    color: #E5E7EB;
}

h1, .logo-text, .placeholder, button {
    color: #F9FAF8;
}

ul, .header-content {
    gap: 16px;
}

/* --Top bar content */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    font-size: 24px;
}


ul {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

/* --header body content */
.header-content {
    display: flex;
    margin-top: 100px;
}

.header-left, .header-right {
    flex: auto;
    display: flex;
    width: 500px;
}


/* -- --Left header content */
.header-left {
    flex-direction: column;
    align-items: flex-start;
}


h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

h1, .sub-text, .top-button {
    margin: 4px;
}

.top-button {
    background-color: #3882F6;
    border: #3882F6;
    border-radius: 8%;
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
}

/* -- --Right header content */
.header-right {
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 118, 118);
}

/* upper body content */
.content-upper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937
}

.info-cards {
    display: flex;
    gap: 50px;
    text-align: center;
    padding: 25px;
}

.card {
    flex-flow: column wrap;
    align-items: center;
    max-width: 150px;
}

.illustration {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-radius: 8%;
    border-width: 5px;
    border-color: #3882F6;
}

/* middle body content */
.content-middle {
    background-color: #E5E7EB;
    margin-top: 50px;
}

/* footer content */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}